body{
  font-family: sans-serif;
  background: #2C1412;
  color: #fff;
}
.login{
  background: rgba(44,62, 80, 0.2);
  width: 500px;
  margin: auto;
  margin-top: 80px;
  height: 400px;
  padding-bottom: 75px;
}
form {
  width: 480px;
  text-align: center;
  padding: 25px;
}
input{
  width: 400px;
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  font-family: 'play', sans-serif;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  outline: none;
  color: #fff;
  opacity: 0.5;
}
input[type=button] {
  border: none;
  width: 190px;
  background: white;
  color: #000;
  font-size: 16px;
  line-height: 25px;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}
input[type=button]:hover{
  color: #fff;
  background: black;
}
h2{
  color: white;
}
a {
  color: #CA8F25;
  text-decoration: blink;
}
a:hover{
  color: skyblue;
}
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
::placeholder {
  color: aliceblue;
  opacity: 0.8;
  font-weight: 100;
  font-family: mono-space;
  font-size: 18px;
}